@import 'utilities/_colors.scss';
@import 'auth';
@import 'dashboard.scss';
@import 'client.scss';

a{
    text-decoration: none;
}
.info-text{
    color: $primary;
    font-size: .8rem;
}
.info-warning{
    color: $country_third;
}

.error{
    color: $country_secondary;
    font-size: .7rem;
}

.text-small{
    font-size: .8rem;
    color: $subdue;
}

//Loader
/* Loader Animation Styles */
.dwa-spinner{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

}
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


// Backdrop
.backdrop{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.69);
    z-index: 5;
}

//others
//overwrite material ui
.css-78trlr-MuiButtonBase-root-MuiIconButton-root{
    color: #f2f0f0 !important;
}
.icon{
    color: #f2f0f0;
}
//sidebar menus
.css-ahj2mt-MuiTypography-root{
    font-size: .87rem !important;
    font-family: 'Quicksand', sans-serif !important;
}

.pro-menu-item{
    color: $omega !important;
}
h1, h2, h3,h4,h5,h6,p{
    font-family: Quicksand, sans-serif !important;
}


tr{
    th{
        background: #007fff !important;
        color: #fff !important;
    }
    td{
        color: #616060 !important;
        font-size: .8rem !important;
        font-family: 'Quicksand', sans-serif !important;
    }
}

tr:nth-child(odd){
    background: rgb(241, 241, 241);
}
//override react/table Mui
.MuiTableRow-root.MuiTableRow-head.css-1q1u3t4-MuiTableRow-root{
    background-color: blue !important;
}

.printable_table{
    border-collapse: collapse;
    width: 90%;
    margin-top: 1rem;

    .print_header_2{
        margin: 0;
        font-size: 1.1rem;
    }
    tr{
        background: inherit !important;
    }
    th, td{
        background: inherit !important;
        border: 1px solid rgba(255, 255, 255, 0.54);
        padding: .3rem 0 .3rem .5rem;
        color: rgba(255, 255, 255, 0.76) !important;
    }

    span{
        margin: 0 .7rem;
    }

    .cage{
        display: inline-block;
        width: 15px;
        height: 15px;
        border: 1px solid #fff;
        position: relative;
    }
    .icon_checked{
        position: absolute;
        color: white;
        bottom: .5px;
        font-size: 15px;
    }
}


.progress{
    width: 8px;
    height: 8px;
    background: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.rejected{
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

.done{
    width: 8px;
    height: 8px;
    background: green;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

input{
    color: #272626 !important;
    font-size: .8rem !important;
    font-family: 'Quicksand', sans-serif !important;
}