
.first-screen-container {
  width: 100%;
  height: 100vh;
  color: #ffffff;
margin-bottom: 1rem;

  .header {
    height: 50vh;
    background: #014284;
    position: relative;

    .header-content {
      position: absolute;
      top: 50%;
      left: 50%;
      text-align: center;
      transform: translate(-50%, -50%);

      h1 {
        margin: 0;
        padding: 0;
      }

      img {
        width: 100px;
      }
    }
  }

  .body-content {
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    @media screen and(max-width: 1200px) {
      width: 99%;
      grid-template-columns: 1fr 1fr;
    }
    @media screen and(max-width: 960px) {
      width: 90%;
      grid-template-columns: 1fr;
    }

    .card-container {
      display: flex;
      width: 100%;
      height: 140px;
      margin-bottom: 1rem;
      background: #f0f1f1;
      box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px !important;
      @media screen and(max-width: 480px) {
        height: 110px;
      }

      .left {
        width: 150px;
        height: 140px;
        background: #fff;
        border-right: 2px solid red;
        position: relative;
        @media screen and(max-width: 480px) {
          width: 120px;
          height: 110px;
        }
      }

      .right{
        padding-left: 1rem;
        color: #141b2d;
        width: 100%;
        padding-right: 1rem;
        hr{
          width: 90%;
          text-align: left;
          margin: 0 0;
        }
        p{
          margin: .9rem .1rem .5rem .1rem;
          font-size: .6rem;
          font-weight: bold;
        }
        h4{
          margin: .5rem 0 .5rem 0;
          font-size: .8rem;
        }

        a{
          display: inline-block;
          font-size: .6rem;
          background: #014284;
          color: yellow;
          padding: .4rem 1rem;
          border-radius: .2rem;
        }
      }


      .bottom-ribbon {
        width: 100%;
        height: 20px;
        background: red;
        position: absolute;
        bottom: 0;
        text-align: center;
        font-weight: bold;
        font-size: .9rem;
        @media screen and(max-width: 480px) {
          height: 18px;
          font-size: .8rem;
        }
      }
    }
  }
}


//Applications

.header-form{
  width: 100%;
  height: 350px;
  background: #014284;
  padding-top: 1rem;
  .header-content{
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    h1{
      color: yellow;
      font-size: 1.3rem;
    }
    img{
      width: 70px;
    }
  }
}

.form-container{
  width: 700px;
  background: white;
  position: absolute;
  top: 100%;
  left: 50%;
  border-radius: .5rem;
  transform: translate(-50%, -12rem);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;

  .group-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  @media screen and (max-width: 690px){
    width: 85%;
    padding: 0 .5rem;
  }
}

.css-wb57ya-MuiFormControl-root-MuiTextField-root{
  margin-bottom: .5rem !important;
}
.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root{
  height: 40px !important;
}
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root{
  font-size: .8rem !important;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  color: gray !important;
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
 padding: .55rem !important;
  color: gray;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
  color: gray !important;
  font-size: .8rem !important;
}

@media screen and (min-width: 600px){
  height: 40px !important;
}

//visa one

.content-box{
  border-radius: .5rem;
  padding: .5rem;
  margin-bottom: 1.3rem;
  margin-top: 1.3rem;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px !important;
  color: #3f3e3e;
  ul{
    padding: 0 0 0 1.2rem;
    li{

    }
  }
}

