$primary: #0F1E28;
$mid_tone: #254157;
$light: #36526B;
$subdue: #517181;
$mute: #6C8A9B;
$soft: #849FB0;
$lighter: #A6BCC5;
$omega: #b5c6cc;


$country_primary: #007fff;
$country_secondary: #ce1021;
$country_third: #ffd100;